
{{#each activities as |activity|}}
    <section data-id="{{activity._id}}">
        <h6>Title:</h6>
          <div>
            <p>
              {{#if activity.completed}}
                <div class="completed">{{activity.title}}</div>
              {{else}}
                {{activity.title}}
              {{/if}}
            </p>
          </div>

        <h6>Description:</h6>
        <div>
          <p>
            {{#if activity.completed}}
              <div class="completed">{{activity.description}}</div>
            {{else}}
              {{activity.description}}
            {{/if}}
          </p>
        </div>
    </section>

<!-- Activity PATCH update -->
    <h6>Update Activity</h6>
      <form class="update-activity" data-id="{{activity._id}}">
        <input name="activity[title]" value="" type="text" placeholder='Title' data-id="{{activity._id}}" required>

        <input name="activity[description]" value="" type="text" placeholder='Description' data-id="{{activity._id}}" required>

        <select name="activity[completed]" data-id="{{activity._id}}">
          <option value="{{activity.completed}}"></option>
          <option value=false>Incomplete</option>
          <option value=true>Complete</option>
        </select>

        <!-- <input name="activity[completed]" value="" type="boolean" placeholder='Completed' data-id="{{activity.id}}" required> -->
        <input type="submit" data-id="" class="editButton btn btn-secondary" value="Update Activity">
      </form>

<!-- Activity DELETE destroy -->
      <button type="button" data-id="{{activity._id}}" class="btn btn-danger remove-activity">Delete Activity</button>
{{/each}}
